span,
div {
    border: 2px solid red;
    /* margin: 10px;
    padding: 10px; */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.test {
    display: inline;
    
}